*{
  font-family: Helvetica,Arial, sans-serif;
}

body{
  padding: 60px;
}

input{
  color: red;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding: 6rem
}

.card{
  align-content: center;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom:auto;
  margin-right: auto;
  overflow: hidden;
  width:auto;
  height:auto;
}

.card p {
  max-height: 170px;
}
